<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#290d80" />
		<title>KBC Quiz</title>

		<link rel="stylesheet" href="../stylesheets/entry.css" />
		<link rel="stylesheet" href="../stylesheets/main.css" />

	</head>
	<body>
		<!-- <header>
			 <div>KBC</div>
			 <div>Register</div>
		</header> -->
	<main>	
